@import "vars"

.box
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  padding: 10px 0

.banner
  padding-bottom: 16px

.search input
  border-radius: 8px
  width: 500px
  border: 1px solid $grey
  padding: 1rem 1rem 1rem 3rem
  background-image: url('../img/searchIcon.svg')
  background-repeat: no-repeat
  background-position: 16px center

  &::placeholder
    color: $grey
    font-size: 16px
    font-style: normal
    font-weight: 400
    line-height: 150%

.cards
  display: flex
  gap: 1rem
  padding: 65px 0
  flex-wrap: wrap
  justify-content: space-evenly

.card
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  width: 250px
  border-radius: 4px
  padding: 20px
  text-transform: capitalize
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20)
  cursor: pointer
  transition: .3s

  &:hover
    background-color: #e5e5e5

  img
    width: 100%

.box-modal
  position: fixed
  background-color: rgba(0, 0, 0, 0.459)
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: none
  align-items: center
  justify-content: center

.box-modal.active
  display: flex

.modal
  width: 800px
  min-height: 500px
  overflow: auto
  padding: 2rem
  border-radius: 8px
  position: relative
  background-color: #fff

.modal-body
  display: flex
  gap: 40px
  &__img
    max-width: 300px
  &__info
    display: flex
    flex-direction: column
    gap: 10px
    font-size: 24px


#modal-close
  position: absolute
  right: 10px
  top: 10px
  cursor: pointer
  transition: .3s linear
  z-index: 2
  &:hover
    transform: scale(1.1)